//Colours should always only appear in this colours.scss

$headerBg: #085291;
$white: #fff;
$light-gray: #e9e9ea;
$gray: #ccc;
$text: #8a8a8a;
$middle-gray: #35383c;
$blue: #248cec;
$service: #2a2d32;
$read: #2a2b2e;
$light-black: #0f0f10;
$black : #000;
$dark-gray: #2a2d32;
$yellow: #f4b60d;
$content: #f7f7f7;
$news: #ababab;
$plus: #e8e8e8;
$info: #7d7e81;

