$font-base: Arial, sans-serif;
$font-ubunta:'Ubuntu', sans-serif;

$fontSize-smallest: 14px;
$fontSize-smaller: 15px;
$fontSize-middle: 16px;
$fontSize-small: 18px;
$fontSize-base: 19px;
$fontSize-large: 24px;
$fontSize-larger: 21px;
$fontSize-xlarg: 98px;


$lineHeight-small: 1.5;
$lineHeight-base: 1.6;
$lineHeight-big: 2.2;
