body{
  background: #c9f0f5;
}
.content {
  width: 766px;
  margin: auto;
  text-align: center;
  padding-bottom: 25px;
  padding-top: 25px;
}
* {
  list-style: none;
}
.clearfix:after {
  display: block;
  clear: both;
  content: "";
}
.carousel-item {
  display: block;
  float: left;
}
.carousel-item img {
  max-width: 600px;
}
.carousel-list {
  position: relative;
  width: 10000px;
}
.carousel-hider {
  float: left;
  width: 600px;
  height: 449px;
  overflow: hidden;
  border-radius: 20px;
}
.carousel-arrow-left,
.carousel-arrow-right {
  display: block;
  float: left;
  padding: 2px;
  border: 2px solid #41c8d0;
  cursor: pointer;
  border-radius: 8px;
  
}
.carousel-arrow-left {
  margin-right: 25px;
  color: #41c8d0;  
}
.carousel-arrow-right {
  margin-left: 25px;
  color: #41c8d0;  
}






.info {
  width: 560px;
  height: 400px;
  margin-left: 440px;
  padding: 20px;
  border: 2px solid #38e7bc;
  border-radius: 20px;
}
.my-name {
  padding-left: 157px;
}
.my-name,.my-surname {
  font-size: 30px;
  font-family: Arial, Tahoma sans-serif;
  color: #148495;
}
.email {
  color: #0e9c47;
  font-size: 24px;
  padding-left: 174px;
}
.email:hover {
  color: #12f768;
}
.college {
  font-family: Arial, Tahoma sans-serif;
  color: #148495;
  font-size: 24px;
  padding-left: 162px;
}
.country,.city {
  font-size: 22px;
  font-family: Arial, Tahoma sans-serif;
  color: #148495;
  padding-left: 221px;
}
.img {
  width: 300px;
  padding-left: 126px;
}
.title {
  display: none;
}
