.header{
    width: 100%;
    display: block;
    background: #fff;
    margin-bottom: 150px;
}
&:after {
    content: " ";
    display: block;
    clear: both;
    overflow: hidden;
    visibility: hidden;
    height: 0;
}


.search-form .icon {
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-right: 17px;
    z-index: 1;
    color: #4f5b66;

}