.header{
    width: 100%;
    display: block;
    background: #fff;
}
&:after {
    content: " ";
    display: block;
    clear: both;
    overflow: hidden;
    visibility: hidden;
    height: 0;
}
.container {
    width: 1160px;
}
.logo_name {
    float: left;
    padding: 32px 0 32px; 
}
.in_network {
    float: right;   
}