.Wrapper{
    display: table;
    overflow: hidden;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    table-layout: fixed;
}
.w1 {
    display: table-row;
    height: 100%;
}
.footer {
    overflow: hidden;
}
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}
.container {
    width: 1160px;
    margin: 0 auto;
}


.logo_name img {
     padding-top: 30px;
     padding-bottom: 30px;
}
.in_network {
    display: inline-block;
    padding-top: 45px;
    float: right;
}
.in_network a {
    display: inline-block;
    padding-left: 20px;
}
.fa{
    color: #ccc;
    font-size: 15px;
}

.fa-facebook{
    color: #ccc;
   
   &:hover{
    color: blue;
   }
}

.fa-twitter{
    color:#ccc;

   &:hover{
    color: blue;
   }
}
.fa-rss{
      color:#ccc;

   &:hover{
    color: blue;
   }
}
.fa-linkedin{
      color:#ccc;

   &:hover{
    color: blue;
   }
}
.fa-skype{
      color:#ccc;

   &:hover{
    color: blue;
   }
}

