.menu {
	padding-bottom: 23px;
	position: relative;
}
.menu ul {
	display: block;
	width: 100%;
	padding-left: 0;
}
.menu-list li {
	display: inline-block;
	border-right: 1px solid #0f0f10;	
}
.menu-list {
	display: block;
	background: #2a2d32;
}
.menu-list li a {
	color: #fff;
    font-family: 'Ubuntu', Arial, sans-serif;
    font-size: 14px;
    padding: 20px 33px;
    display: inline-block;
}
.menu-list li a:hover {
	color: #f4b60d;
}
.menu-list li:first-child {
	background: #248cec;
}
.fa-search{
    position: absolute;
    color: #ccc;
    right: 24px;
    bottom: 62px;
}
.search-form {
	display: block;
	float: right;
	padding-top: 10px;
}
.search-form input {
	border: none;	
}
 input[type="text"]{
    color: #fff;
	background: #35383c;
	border: 1px solid black;
	padding: 10px 50px 10px 10px;
	margin-right: 8px;
	position: absolute;
	right: 0;
}
input[type="button"]{
    display: block;
    position: absolute;
    right: 9px;
    bottom: 58px;
    width: 40px;
    background: #35383c;
}
