.title {
	margin-bottom: 40px;
}
.title p {
	font-size: 25px;
	color: #fff;
}
.our_service span:hover{
	color: #f4b60d;
}
.content-block {
	background-color: #f7f7f7;
	display: block;
	overflow: hidden;
	padding-bottom: 43px;	
}
.news {
	display: block;
	width: 560px;
	float: left;
}
.news span {
	display: block;
	padding-top: 55px;
	padding-bottom: 40px;
	font-size: 24px;
	font-weight: bold;
}
.news_box a {
	display: block;
	float: right;
	font-size: 18px;
	padding-right: 17px;
	font-weight: bold;
	color: #2a2d32;
}
.news_box a:hover{
	color: #248cec;
}
.news_box {
	position: relative;
	padding-bottom: 37px;
}
.date-month {
	display: block;
	width: 40px;
	height: 40px;
	background: #248cec;
	position: absolute;
	top: 10px;
	left: -11px;
	text-align: center;
    line-height: 2.2;
}
.date-number{
	display: block;
	width: 40px;
	height: 40px;
	background: #f4b60d;
	position: absolute;
	top: 50px;
	left: -11px;
	text-align: center;
	line-height: 2.2;
}
.comment {
    display: block;
    float: none;
}
.comment a {
	display: inline-block;
	float: none;
	padding: 0;
	color: #248cec;
	font-size: 15px;
}
.news_box span {
	display: inline-block;
	color: #ababab;
	font-size: 15px;
	position: absolute;
    padding: 0;
    top: 30px;
    left: 176px;
}
.news_box p{
	display: block;
	float: right;
	position: absolute;
	left: 177px;
	top: 52px;
	font-size: 14px;
	line-height: 1.5;
	width: 405px;
    color: #ababab;
}
a.technic {
	padding-right: 33px;
}





.banners {
	display: block;
	width: 560px;
	float: right;
}
.banners span{
	display: block;
	padding-top: 55px;
	padding-bottom: 40px;
	font-size: 24px;
	font-weight: bold;
}
.plus {
	display: block;
	position: relative;
	background: #fff;
	border: 1px solid #e8e8e8;
	margin: 5px;
}
.plus:before{
	content: '+';
	display: inline-block;
	color: #2a2d32;
	border-right: 3px solid #e8e8e8;
	padding: 15px 20px;
}
.plus span {
	display: inline-block;
    padding: 15px;
	color: #2a2d32;
	font-size: 16px;
}
.accordion p {
	display: none;
	color: #ababab;
	font-size: 14px;
	line-height: 1.5; 
	padding: 10px 0 10px 55px;
}
.plus:hover{
	background: #f4b60d;
	cursor: pointer;

}
.plus span:hover{
	color: #fff;
}
.plus:hover:before{
	content: '-';
	color: #fff;
	padding-right: 25px;
}