
/*.slick-dots li{
	border: 15px solid #fff;
	position: relative;
	top: -38px;
	left: 4px;
}*/
/*.slick-dots li:active {
	color: #000;
}*/
ul.slick-dots {
	display: block;
	position: absolute;
	left: 459px;
	bottom: 23px;
}
.slick-dots li{
	float: left;
	border: 8px solid #fff;
	margin-right: 22px;
	position: relative;
	color: #fff;
	background: #fff;
}
button.slick-next.slick-arrow{
	display: none;
}
button.slick-prev.slick-arrow{
	display: none;
}
button[type="button"]{
	background: #fff;
	color: #fff;
	border: none;
}
button:active{
	background: #000;
}
