
ul.slick-dots {
	display: block;
	position: absolute;
	left: 459px;
	bottom: 23px;
}
button[type=button]{
  display: none;
}

.slick-dots li{
	width: 20px;
	height: 20px;
	float: left;
	border: 3px solid #fff;
	margin-right: 22px;
	position: relative;
    cursor: pointer;
}
.slick-active{
  background: #000;
}

button.slick-next.slick-arrow{
  display: none;
}
button.slick-prev.slick-arrow{
  display: none;
}

