
// ul.slick-dots {
// 	display: block;
// 	position: absolute;
// 	left: 459px;
// 	bottom: 23px;
// }
// // button[type=button]{
// //   display: none;
// // }

// // .slick-dots li{
// // 	width: 20px;
// // 	height: 20px;
// // 	float: left;
// // 	border: 3px solid $white;
// // 	margin-right: 22px;
// // 	position: relative;
// //     cursor: pointer;
// // }

// .slick-dots li{
// 	float: left;
// }

// .slick-dots button{
// 	border: none;
// 	border: 5px solid $white;
// 	color:transparent;
// 	margin: 0 10px;
// 	background-color: $white;
// }

// .slick-active button{
//   background-color: $black;
// }

// button.slick-next.slick-arrow{
//   display: none;
// }
// button.slick-prev.slick-arrow{
//   display: none;
// }

