

body {
    background: #e5baf3;
    margin: 0;
    padding: 0;
    font: 15px/1.5 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #4E443C;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Arvo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: normal;
  text-rendering: optimizelegibility;
}

h1 {
    color: #4E443C;
    font-size: 36px;
    font-weight: bold;
}

h2, h2 a {
    color: #F14E32;
}

h3, h3 a {
  color: #0388A6;
}

a {
  color: #0388A6;
}

pre {
  border:1px solid #000;
  overflow-x:auto;
  background: #222;
  color: #fff;
  text-shadow: none;
}

.wrapper {
    max-width: 620px;
    padding: 0 20px 40px 20px;
    margin: auto;
}



/**,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
*/
.content {
    width:80%;
    max-width:1000px;
    margin:0 auto;
}

nav {
  background-color: #6ff2d5;
  padding:10px 0;
 
}
nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
}
nav ul li {
    display:inline-block;
    position:relative;
}

/* sub navigation */
nav li ul {    
    background-color:#27e3b9;
    position:absolute;
    left:0;
    top:40px; 
    width:200px;
}
nav li li {
    position:relative;
    margin:0;
    display:block;
}
nav li li ul {
    position:absolute;
    top:0;
    left:200px; 
    margin:0;
}

/* style all links */
nav a {
    line-height:40px;
    padding:0 12px;
    margin:0 12px;
}
nav a {
    color:#fff;
    text-decoration:none;
    display:block;
}
nav a:hover,
nav a:focus,
nav a:active {
    color:#af76c2;
}

/* style sub links */
nav li li a {
    border-bottom:solid 1px #9b25c2;
    margin:0 10px;
    padding:0;
}
nav li li:last-child a {
    border-bottom:none;
}

/* hide sub menu links */
ul.sub-menu {
    display:none;
}

/* show arrows for dropdowns */
nav li.dropdown > a {
    background-image:url('../img/arrow-down.png');
    background-position:right 20px;
    background-repeat:no-repeat;
}

nav li li.dropdown > a {
    background-image:url('../img/arrow-right.png');
    background-position:right 16px;
    background-repeat:no-repeat;
}

/*======*/

/*CHECKBOX*/
fieldset {
    padding: 0 15px 3em;
    border: 0;
}

legend {
    font-size: 1.4em;
    font-weight: bold;
    padding: .2em 5px;
}


/*  wrapper divs */

.custom-checkbox {
    position: relative;
}


/* input, label positioning */

.custom-checkbox input {
    position: absolute;
    left: 2px;
    top: 3px;
    margin: 0;
    z-index: 0;
}

.custom-checkbox label {
    display: block;
    position: relative;
    z-index: 1;
    font-size: 1.3em;
    padding-right: 1em;
    line-height: 1;
    padding: .5em 0 .5em 30px;
    margin: 0 0 .3em;
    cursor: pointer;
}


/* states */

.custom-checkbox label {
    background: url(../img/checkbox.gif) no-repeat;
}

.custom-checkbox label {
    background-position: -10px -8px;
}

.custom-checkbox label.hover,
.custom-checkbox label.focus {
    background-position: -10px -108px;
}

.custom-checkbox label.checked {
    background-position: -10px -208px;
}

.custom-checkbox label.checkedHover {
    background-position: -10px -308px;
}

.custom-checkbox label.focus {
    outline: 1px dotted #8315a7;
}


        
