*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
html {
  position: relative;
}
/*ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}*/
html,body{
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
}
.Wrapper{
	display: table;
	overflow: hidden;
	width: 100%;
	height: 100%;
	min-width: 980px;
	table-layout: fixed;	
}
.w1 {
	display: table-row;
	height: 100%;
}
.footer {
	overflow: hidden;
}
.clearfix:after {
	content: '';
	display: block;
	clear: both;
}
.container {
  width: 980px;
  margin: 0 auto;
  padding: 0 10px;	
	
}
.header {
  background: url(../img/fon.png);
  background-position: center center;
  background-size: cover;
  text-transform: uppercase;
  padding-top: 70px;
  padding-bottom: 170px;
  border-bottom: 1px solid #33253a;
}
.logo {
	float: left;
	display: inline-block;
	vertical-align: middle;
	width: 194px;
}
.menu {
	vertical-align: middle;
	display:inline-block; 
}
.menu-list {
	float: right;
	list-style: none;
}

.main-block {
	padding-top: 80px;
	padding-bottom: 80px;
    background: rgba(0, 0, 0, .2);
}
.main-block img {
	float: right;
	position: relative;
	top: -200px;
	left: -100px;
}
.main-block p {
	display: inline-block;
	width: 487px;
}
.title {
	font-size: 34px;
}
.title_item {
	font-size: 26px;
}



