//Colours should always only appear in this colours.scss

$white: #fff;
$black: #000;
$lightred: #ff4e50;
$active_btn: #f15063;
$active_txt: #4d2f33;
$darkgray: #333333;
$gray: #cccccc;
$middlegray: #414141;
$lightgray: #8f8f8f;
$yellowe: #ffa507;
$lightgreen: #1cd7ad;
$blue: #4e73db;
$middlered: #ed4545;
$link_gray: #666666;



