 .slider{
    width: 600px;
    height: 404px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;           
}
.slide{
    position: absolute;                
    top: 0;                
    left: 0;                
}
.slider-track {
    position: absolute;
    top: 0;
    left: 0;
    width: 99999999px;
}
.slider-track: after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}