@font-face {
    font-family: 'lucida_sans_unicoderegular';
    src: url('../fonts/lucida-sans-unicode_allfont.ru-webfont.eot');
    src: url('../fonts/lucida-sans-unicode_allfont.ru-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lucida-sans-unicode_allfont.ru-webfont.woff2') format('woff2'),
         url('../fonts/lucida-sans-unicode_allfont.ru-webfont.woff') format('woff'),
         url('../fonts/lucida-sans-unicode_allfont.ru-webfont.ttf') format('truetype'),
         url('../fonts/lucida-sans-unicode_allfont.ru-webfont.svg#lucida_sans_unicoderegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	/*list-style: none;*/
	font-family: lucida_sans_unicoderegular;
}	 
html,body{
	height: 100%;
	margin: 0;
	padding: 0;
}
.Wrapper{
	display: table;
	overflow: hidden;
	width: 100%;
	height: 100%;
	min-width: 1000px;
	table-layout: fixed;
}
.w1 {
	display: table-row;
	height: 100%;
}
.footer {
	overflow: hidden;
}
.clearfix:after {
	content: '';
	display: block;
	clear: both;
}
.container {
	width: 900px;
	margin: 0 auto;
	padding: 0 4px;
}
.header {
	width: 100%;
}
.contacts-box {
	padding-bottom: 5px;
	padding-top: 10px;

}
.contacts {
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;	
}
.contacts img{
	display: inline-block;
	vertical-align: middle;
}
.contacts a img {
	display: inline-block;
}
.contacts a{
	display: inline-block;
	text-decoration: none;
	font-family: Arial, Tahoma;
	font-size: 18px;
	color: #5e696d;
}
.login{
	display: inline-block;
	vertical-align: middle;
	position: relative;
	border-radius: 3px;
	padding-top: 2px;
    padding-bottom: 1px;
    padding-left: 5px;	
    background: rgb(31,102,133);
    background: -moz-linear-gradient(top,  rgba(31,102,133,1) 0%, rgba(13,52,88,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(31,102,133,1) 0%,rgba(13,52,88,1) 100%);
    background: linear-gradient(to bottom,  rgba(31,102,133,1) 0%,rgba(13,52,88,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f6685', endColorstr='#0d3458',GradientType=0 );
    box-shadow: 2px 3px 0px 0px rgba(122,122,122,0.5);	
}
.user{
	float: left;
	background: url('../img/men.png');
	background-size: 14px;
	background-repeat: no-repeat;
	background-position: 2px 4px;
	padding-left: 25px;
}
.login input {
	font-size: 10px;  
}
.login input.enter {
	background: none;
	border: none;
	color: #fff;
	display: inline-block;
	width: 30px;
    padding: 5px 3px;
    cursor: pointer;
}

.login span a{
	color: #bfbfbf;
	text-decoration: underline;
	padding-left: 15px;
	padding-right: 15px;
}
.login a{
	position: relative;
	color: #fff;
	text-decoration: none;
	font-family: Arial, Tahoma;
	font-size: 10px;
}

.login input {
	width: 100px;
	position: relative;
}

.social-block{
	display: inline-block;
	vertical-align: middle;
    float: right;
    margin-right: 15px;
    padding: 0px 4px;
    border: 2px solid lightgray;
    border-radius: 18px;
    /*margin-top: 5px;*/
    box-shadow: 2px 2px 5px 2px rgba(122,122,122,0.5);
}
.social-block a{
	padding: 3px 5px 3px 5px;
}
.banner{
	width: 100%;	
}
.banner img{
	width: 100%;
}
.menu{
	box-shadow: 2px 2px 5px 2px rgba(122,122,122,0.5);
	display: inline-block;
	width: 100%;
	padding-left:50px; 
	background: /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4d5663+0,040405+100 */
    background: rgb(77,86,99); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(77,86,99,1) 0%, rgba(4,4,5,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(77,86,99,1) 0%,rgba(4,4,5,1) 100%); /* Chrome10-25,Safari5.1-6 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d5663', endColorstr='#040405',GradientType=0 ); /* IE6-9 */
    border-radius: 5px;
}

.menu ul {
	display: inline-block;
	vertical-align: middle;
	margin-left: 30px;
}

.menu ul li{
	display: inline-block;
	vertical-align: middle;
    border-radius: 15px;
    padding: 3px 10px;
}
.menu a{
	color: #a2acb0;
	text-decoration: none;
	font-size: 14px;
	text-align: center;
}
.menu li:hover{
	background: /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1f6787+0,0d365a+100 */
    background: rgb(31,103,135);
    background: -moz-linear-gradient(top,  rgba(31,103,135,1) 0%, rgba(13,54,90,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(31,103,135,1) 0%,rgba(13,54,90,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(31,103,135,1) 0%,rgba(13,54,90,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f6787', endColorstr='#0d365a',GradientType=0 ); /* IE6-9 */

}
.menu li {
	padding-right: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}

p {
	display: inline-block;
	color:#114165;
}
.purchase{
	display: inline-block;
	vertical-align: middle;
	float: right;
	padding-right: 20px;
	font-size: 11px;
}
.purchase img{
	position: relative;
	top:5px;	
}
.shop{
	color: #fff;
	padding-top: 10px;
}
.basket{
	color: #fff;
	padding-left: 15px;
}

.shop:after {
	display: inline-block;
	content: "0";
	padding-left: 5px;
	color: #0d5a8f;
}
.basket:after{
	display: inline-block;
	content:"0.00 грн";
	padding-left: 5px;
	color: #0d5a8f;
}
.sidebar-left{
	float: left;
	width: 180px;
	display: inline-block;
	margin-top: 10px;
}
.sidebar-title{
	border: 1px solid #79878d;
	border-radius: 18px;
	display: inline-block;
	width: 165px;
	padding: 2px 2px;
	box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}
.catalog {
	background: url('../img/list.png');
	float: left;
	background-size: 22px;
	background-repeat: no-repeat;
	background-position: 2px 2px;
}
.sidebar-title p{
	padding-left: 28px;
	font-size: 11px;
    
}
.filter-box{
	margin-top: 10px;
}
.choise:hover{
	cursor: pointer;
}
.filter-box ul li a{
	text-decoration: none;
	color: #465961;
	font-size: 14px;
	padding-top: 10px;
}
.filter-box li{
	padding-top: 12px;
	list-style-type: circle;
	list-style-position: inside;
	padding-left: 25px;
}

.filter-box a:hover{
	text-decoration: underline;
	color:#0c3256;
	font-style: italic;
	font-size: 14px;
	font-weight: 600;
}
{
	border: 1px solid #79878d;
	border-radius: 15px;
	width: 148px;
}
.round {
    background: url('../img/kolo.png');
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: 5px 3px;	
}
.filter-title p {
padding-left: 30px;
font-size: 12px;
}
.filter-title {
	border: 1px solid #79878d;
	border-radius: 18px;
	width: 148px;
}
.content{
	float: left;
	background: rgb(228,231,232); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(228,231,232,1) 1%, rgba(148,167,176,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(228,231,232,1) 1%,rgba(148,167,176,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(228,231,232,1) 1%,rgba(148,167,176,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e7e8', endColorstr='#94a7b0',GradientType=0 ); /* IE6-9 */
margin-top: 10px;
display: block;
width: 525px;
border-radius: 3px;
}
.price p {
	font-size: 16px;
	text-align: center;
	color:#114165;
	font-style: italic;
	font-weight: bolder;
}
.item{
	display: inline-block;
	text-align: center;
    width: 138px;
    margin: 15px;
}

.item img{
	display: table;
	text-align: center;
	border: 2px solid #b0b9bc;
	border-radius: 13px;
	padding: 3px 34px 3px 34px;
	background: #fff;
}
.item p {
	text-align: center;
	color:#114165;
	font-style: italic;
	font-weight: bolder;
}
.item a{
	display: block;
	text-decoration: none;
	color:#114165;
}
.item span{
	font-size: 14px;
}
.sidebar-right{
	float: right;
	width: 180px;
	margin-top: 10px;

}
.sidebar-right li{
	margin-left: 5px;
	color: #465961;
	list-style: none;
}

input[type="checkbox"]{
    margin-right: 15px;
}
input[type="submit"]{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1f6585+0,0d3458+100 */
background: rgb(31,101,133); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(31,101,133,1) 0%, rgba(13,52,88,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(31,101,133,1) 0%,rgba(13,52,88,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(31,101,133,1) 0%,rgba(13,52,88,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f6585', endColorstr='#0d3458',GradientType=0 ); /* IE6-9 */
margin: 2px;
padding: 7px 13px 7px;
border-radius: 25px;
color: #fff;
border: none;
}

.submit:hover {
	opacity: 1;
}
.brand-list {
	text-align: center;
}
.brand-list ul li{
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	margin-top: 20px;
}
.footer {	
	text-align: center;
	height: 101px;
}
.footer p{
	padding-top: 10px;
	color: #754542;
}
.footer > .container {
	padding-top: 20px;
	padding-bottom: 60px;
	background: #213a4d;
}
.menu-list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu-list a{
	color: #bec6c9;
	text-decoration: none;
}
.menu-list li {
	display: inline-block;
	padding: 0 10px;
	border-right: 1px solid #bec6c9;
}
.menu-list li:hover{
	color: #4d9fbd;
}
.menu-list li:last-child{
	border-right: none;
}






