<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>To do list</title>
	<script data-main="js/app.js" src="js/require.js" ></script>
	<script src="js/tmpl.js"></script>
</head>
<body>

	<script type="text/tamplate" id="wrapper-template">
		<div class="wrapper">
			<ul class="item-list"></ul>
			<div class="controlls">
				<input type="text" class="item-value">
				<button class="item-add">Add</button>
			</div>
		</div>
	</script>

	<script type="text/template" id ="list-template">
		<% for(var i = 0; i < data.length; i++){ %>
			<li><%= data[i] %><span data-value="<%= data[i]%>" class="item-delete">X</span></li>
		<% }; %>
	</script>

</body>
</html>

 

