
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>slick</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/slick.css"/>
        <link rel="stylesheet" type="text/css" href="css/slick-theme.css"/>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        
        <script type="text/javascript" src="js/slick.js"></script>
        <script src="js/template.js"></script>
    </head>
    <body>

                <div class="slider js-slider" data-current="0">
                                          
                            <div class="slide"><img src="img/DSCN1743.JPG" width="600" height="400"  alt=""></div>
                            <div class="slide"><img src="img/DSCN1751.JPG" width="600" height="400" alt=""></div>
                            <div class="slide"><img src="img/DSCN1750.JPG" width="600" height="400" alt=""></div>
                            <div class="slide"><img src="img/DSCN1761.JPG" width="600" height="400" alt=""></div>
                            <div class="slide"><img src="img/DSCN1918.JPG" width="600" height="400" alt=""></div>
                            <div class="slide"><img src="img/DSCN2205.JPG" width="600" height="400" alt=""></div>
                                          
                </div>


    <script type="text/html"  id='test'>
            <% for (var i = 0; i < data.length; i++ ) { %>
                <div class="info">
                    <h2 class="title"><%= data[i].title %></h2>
                    <span class="my-name"><%= data[i].firstName %></span>
                    <span class="my-surname"><%= data[i].lastName %></span>
                    <img src="img/RSCN1200.JPG""<%= data[i].img %>" class="img"><%= data[i].img %>
                    <a href="<%= data[i].email %>"  class="email"><%= data[i].email %></a>
                    <span class="college"><%= data[i].college %></a>
                    <span class="country"><%= data[i].country %></a>
                    <span class="city"><%= data[i].city %></a>
                </div>
            <% }; %>
        </script>            
 
        <script type="text/javascript" src="js/slick.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>