
*{
	box-sizing: border-box;	
}	 
html,body{
	height: 100%;
}
body {
	font-family: 'Ubuntu', Arial, sans-serif;
	list-style: none;
}
.Wrapper{
	display: table;
	overflow: hidden;
	width: 100%;
	height: 100%;
	min-width: 1000px;
	table-layout: fixed;
}
.w1 {
	display: table-row;
	height: 100%;
}
.footer {
	overflow: hidden;
}
.clearfix:after {
	content: '';
	display: block;
	clear: both;
}
.container {
	width: 1160px;
}
.logo_name img {
	 padding-top: 30px;
	 padding-bottom: 30px;
}
.in_network {
	display: block;
	padding: 10px 0 10px;
	float: right;
}
.facebook {
	background: url(../images/icons/fb.png);
	display: block;
	width: 15px;
	height: 15px;
	cursor: pointer;
}
.twitter {
	background: url(../images/icons/twitter1.png);
	display: block;
	width: 15px;
	height: 15px;
	cursor: pointer;
}
.network {
	background: url(../images/icons/rss.png);
	display: block;
	width: 15px;
	height: 15px;
	cursor: pointer;
}
.lincedin {
	background: url(../images/icons/linkedin.png);
	display: block;
	width: 15px;
	height: 15px;
	cursor: pointer;
}
.skype {
	background: url(../images/icons/skype.png);
	display: block;
	width: 15px;
	height: 15px;
	cursor: pointer;
}